html, body {
  margin:0px;
  height:100%;
  background-color: grey;
}

.page_container
{
  position: relative;
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 5px;
}

.character_container
{
  position: relative;
  width: 25%;
  float: left;
  padding: 0px;
  margin: : 5px;
}

.character_img
{
  /* height: 200px; */
  width: 95%;
  padding: 5px;
}

.character_title
{
  position: relative;
  top: -50px;
  width: 100%;
  text-align:center;
  color: white;
  font-family: "Times";
  font-size: 18px;
}
