@media (min-width: 900px) /*laptop*/ {
  html,
  body {
    margin: 0px;
    height: 100%;
  }

  .page_container {
    position: relative;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 5px;
  }

  .section_container {
    position: relative;
    width: auto;
    overflow: auto;
    margin: 5px;
    padding: 5px;
  }

  .tablet_container {
    /* top:-200px;
    width:60%;
    margin-left:auto;
    margin-right:auto; */
  }

  .header_container {
    position: relative;
  }

  .hamburger_img {
    position: absolute;
    margin-left: 5%;
    margin-top: 2%;
    width: 0%;
    display: none;
    background-color: white;
  }

  .logo_img {
    display: block;
    margin-right: 5%;
    /* margin: 0 auto; */
    top: -50px;
    width: 20%;
  }

  #menu_items {
    height: 7%;
    left: 25%;
    position: relative;
    top: -12%;
    display: block;
    width: 72%;
  }

  .menu_item {
    display: block;
    float: left;
    width: 19%;
    margin-right: 5px;
    padding-top: 5%;
    height: 80%;
    text-align: center;
    vertical-align: middle;
    font-size: 2vw;
  }

  .illustration_container {
    position: relative;
    top: -10%;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }

  .illustration_img {
    /* height: 200px; */
    position: relative;
    width: 100%;
  }

  .gradient {
    /* height: 200px; */
    position: relative;
    width: 100%;
    height: 100px;
    top: -100px;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgba(255, 255, 255, 1)
    );
  }

  .sinopsis_title {
    font-family: roboto;
    font-size: 28px;
  }

  .sinopsis {
    font-family: roboto;
  }

  #more {
    display: none;
  }

  #read_more_btn {
    /* float:right; */
    /* margin-right: 10%; */
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: blue;
  }

  #search-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
    top: -50px;
    width: 80%;
    cursor: pointer;
    color: grey;
  }

  .section_header {
    width: 100%;
    overflow: auto;
  }

  .section_title {
    position: relative;
    width: 40%;
    float: left;
    padding: 1%;
    padding-left: 20px;
    font-family: roboto;
    font-size: 22px;
  }

  .section_more {
    position: relative;
    width: 40%;
    float: right;
    padding: 1%;
    padding-right: 20px;
    font-family: roboto;
    font-size: 18px;
    text-align: right;
    color: blue;
  }

  .character_container {
    position: relative;
    width: 25%;
    float: left;
    padding: 0px;
  }

  .island_container {
    position: relative;
    width: 33%;
    float: left;
    padding: 0px;
  }

  .mistobject_main_container {
    position: relative;
    float: left;
    width: 47%;
  }

  .mistobject_container {
    position: relative;
    float: left;
    width: 50%;
    float: left;
    padding: 0px;
  }

  .character_img {
    /* height: 200px; */
    width: 95%;
    padding: 5px;
  }

  .character_title {
    position: relative;
    top: -50px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Times";
    font-size: 18px;
  }

  .island_location {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    /* height: 50px; */
    top: -90px;
    border-radius: 10px;
    padding: 7px;
    padding-left: 15px;
    background-color: rgba(40, 80, 220, 0.8);
  }

  .island_name {
    display: block;
    font-size: 4vw;
    font-weight: bold;
    color: white;
  }

  .island_place {
    display: block;
    font-size: 4vw;
    color: white;
  }

  .mistobject_item {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 120%;
    left: -25%;
    /* height: 50px; */
    top: 0px;
    border-radius: 10px;
    padding: 7px;
    padding-left: 15px;
    background-color: rgba(40, 80, 220, 0.8);
  }

  .mistobject_name {
    display: block;
    font-size: 2vw;
    font-weight: bold;
    color: white;
  }

  .mistobject_description {
    display: block;
    font-size: 2vw;
    color: white;
  }

  .footer {
    background-color: blue;
    position: relative;
    width: 96%;
    padding-bottom: 5%;
  }

  .bone {
    display: block;
    position: relative;
    width: 10%;
    float: left;
    /* margin-right: auto; */
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 2%;
  }

  .lorem {
    display: block;
    position: relative;
    float: left;
    /* margin-right: auto;
    margin-left: auto; */
    margin-top: 3%;
    width: 70%;
  }
}

@media (min-width: 600px) and (max-width: 900px) /*tablet*/ {
  html,
  body {
    margin: 0px;
    height: 100%;
  }

  .page_container {
    position: relative;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 5px;
  }

  .section_container {
    position: relative;
    width: auto;
    overflow: auto;
    margin: 5px;
    padding: 5px;
  }

  .tablet_container {
    top: -200px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .header_container {
    position: relative;
  }

  .hamburger_img {
    position: absolute;
    margin-left: 5%;
    margin-top: 2%;
    width: 8%;
    display: block;
    cursor: pointer;
  }

  .logo_img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    top: -50px;
    width: 35%;
  }

  #menu_items {
    height: 30%;
    display: none;
  }

  .menu_item {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
    height: 10%;
    text-align: center;
    vertical-align: middle;
    font-size: 4vw;
  }

  .illustration_container {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
  }

  .illustration_img {
    /* height: 200px; */
    position: relative;
    width: 100%;
  }

  .gradient {
    /* height: 200px; */
    position: relative;
    width: 100%;
    height: 100px;
    top: -100px;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgba(255, 255, 255, 1)
    );
  }

  .sinopsis_title {
    font-family: roboto;
    font-size: 28px;
  }

  .sinopsis {
    font-family: roboto;
  }

  #more {
    display: none;
  }

  #read_more_btn {
    /* float:right; */
    /* margin-right: 10%; */
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: blue;
  }

  #search-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
    top: -50px;
    width: 80%;
    cursor: pointer;
    color: grey;
  }

  .section_header {
    width: 100%;
    overflow: auto;
  }

  .section_title {
    position: relative;
    width: 40%;
    float: left;
    padding: 1%;
    padding-left: 20px;
    font-family: roboto;
    font-size: 22px;
  }

  .section_more {
    position: relative;
    width: 40%;
    float: right;
    padding: 1%;
    padding-right: 20px;
    font-family: roboto;
    font-size: 18px;
    text-align: right;
    color: blue;
  }

  .character_container {
    position: relative;
    width: 25%;
    float: left;
    padding: 0px;
  }

  .island_container {
    position: relative;
    width: 33%;
    float: left;
    padding: 0px;
  }

  .mistobject_main_container {
    position: relative;
    float: left;
    margin-left: 5%;
    width: 40%;
  }

  .mistobject_container {
    position: relative;
    float: left;
    width: 50%;
    float: left;
    padding: 0px;
  }

  .character_img {
    /* height: 200px; */
    width: 95%;
    padding: 5px;
  }

  .character_title {
    position: relative;
    top: -50px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Times";
    font-size: 18px;
  }

  .island_location {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    /* height: 50px; */
    top: -90px;
    border-radius: 10px;
    padding: 7px;
    padding-left: 15px;
    background-color: rgba(40, 80, 220, 0.8);
  }

  .island_name {
    display: block;
    font-size: 4vw;
    font-weight: bold;
    color: white;
  }

  .island_place {
    display: block;
    font-size: 4vw;
    color: white;
  }

  .mistobject_item {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 120%;
    left: -25%;
    /* height: 50px; */
    top: 0px;
    border-radius: 10px;
    padding: 7px;
    padding-left: 15px;
    background-color: rgba(40, 80, 220, 0.8);
  }

  .mistobject_name {
    display: block;
    font-size: 2vw;
    font-weight: bold;
    color: white;
  }

  .mistobject_description {
    display: block;
    font-size: 2vw;
    color: white;
  }

  .footer {
    background-color: blue;
    position: relative;
    width: 90%;
    padding-bottom: 5%;
  }

  .bone {
    display: block;
    position: relative;
    width: 10%;
    float: left;
    /* margin-right: auto; */
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 2%;
  }

  .lorem {
    display: block;
    position: relative;
    float: left;
    /* margin-right: auto;
    margin-left: auto; */
    margin-top: 3%;
    width: 70%;
  }
}

@media (max-width: 599px) /*smartphone*/ {
  html,
  body {
    margin: 0px;
    height: 100%;
  }

  .page_container {
    position: relative;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 5px;
  }

  .section_container {
    position: relative;
    width: auto;
    overflow: auto;
    margin: 5px;
    padding: 5px;
  }

  .tablet_container {
    /* top:-200px;
    width:60%;
    margin-left:auto;
    margin-right:auto; */
  }

  .header_container {
    position: relative;
  }

  .hamburger_img {
    position: absolute;
    margin-left: 5%;
    margin-top: 2%;
    width: 8%;
    display: block;
    cursor: pointer;
  }

  .logo_img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    /* margin: 0 auto; */
    top: -50px;
    width: 35%;
  }

  #menu_items {
    height: 30%;
    display: none;
  }

  .menu_item {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
    height: 10%;
    text-align: center;
    vertical-align: middle;
    font-size: 4vw;
  }

  .illustration_container {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
  }

  .illustration_img {
    /* height: 200px; */
    position: relative;
    width: 100%;
  }

  .gradient {
    /* height: 200px; */
    position: relative;
    width: 100%;
    height: 100px;
    top: -100px;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgba(255, 255, 255, 1)
    );
  }

  .sinopsis_title {
    font-family: roboto;
    font-size: 28px;
  }

  .sinopsis {
    font-family: roboto;
  }

  #more {
    display: none;
  }

  #read_more_btn {
    /* float:right; */
    /* margin-right: 10%; */
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: blue;
  }

  #search-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
    top: -50px;
    width: 80%;
    cursor: pointer;
    color: grey;
  }

  .section_header {
    width: 100%;
    overflow: auto;
  }

  .section_title {
    position: relative;
    width: 40%;
    float: left;
    padding: 1%;
    padding-left: 20px;
    font-family: roboto;
    font-size: 22px;
  }

  .section_more {
    position: relative;
    width: 40%;
    float: right;
    padding: 1%;
    padding-right: 20px;
    font-family: roboto;
    font-size: 18px;
    text-align: right;
    color: blue;
  }

  .character_container {
    position: relative;
    width: 50%;
    float: left;
    padding: 0px;
  }

  .char_3 {
    display: none;
  }

  .island_container {
    position: relative;
    width: 50%;
    float: left;
    padding: 0px;
  }

  .island_3 {
    display: none;
  }

  .mistobject_container {
    position: relative;
    width: 50%;
    float: left;
    padding: 0px;
  }

  .mistobject_3 {
    display: none;
  }

  .character_img {
    /* height: 200px; */
    width: 95%;
    padding: 5px;
  }

  .character_title {
    position: relative;
    top: -50px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Times";
    font-size: 18px;
  }

  .island_location {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    top: -90px;
    border-radius: 10px;
    padding: 7px;
    padding-left: 15px;
    background-color: rgba(40, 80, 220, 0.8);
  }

  .island_name {
    display: block;
    font-size: 4vw;
    font-weight: bold;
    color: white;
  }

  .island_place {
    display: block;
    font-size: 4vw;
    color: white;
  }

  .mistobject_item {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 120%;
    left: -25%;
    /* height: 50px; */
    top: 0px;
    border-radius: 10px;
    padding: 7px;
    padding-left: 15px;
    background-color: rgba(40, 80, 220, 0.8);
  }

  .mistobject_name {
    display: block;
    font-size: 4vw;
    font-weight: bold;
    color: white;
  }

  .mistobject_description {
    display: block;
    font-size: 3.5vw;
    color: white;
  }

  .footer {
    background-color: blue;
  }

  .bone {
    display: block;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
  }

  .lorem {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }
}
